#email {
    background-color: #021a34;
    padding: 8px;
    border: 1px solid #ffa800;
   
    width: 70%;
    border-bottom-left-radius: 10px

}
#send {
    margin-top: 10px;
    padding: 3px;
    border-start-end-radius: 10px;
    background-color: #fda800;
    border: 1px solid #ffa800;
}