
body {
  margin: 0;
}
html {
  font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
button, input, select, textarea {
  font: inherit;
}
button, input, select {
  overflow: visible;
}
a {
  background-color: transparent;
}
*, *::before, *::after {
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
body {
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body, .container, .full-width .ubermenu-nav, .container-width, .row {
  width: 100%;
margin-left: auto;
margin-right: auto;
}
.container-width, .full-width .ubermenu-nav, .container, .row {
  max-width: 1080px;
}
.row, .gallery {
  width: 100%;
display: flex;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
}
.full-width .ubermenu-nav, .container, .row {
  max-width: 1230px;
}
.form-ct {
  width: 780px;
margin: 0 auto;
max-width: 100%;
}
.container::after, .row::after, .clearfix::after, .clear::after {
  content: "";
display: table;
clear: both;
}
.section-bg, .section-content {
  width: 100%;
}
.section-content {
    z-index: 1;
}
.relative {
  position: relative !important;
}
.section {
  padding: 30px 0;
position: relative;
min-height: auto;
width: 100%;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: row;
flex-flow: row;
-ms-flex-align: center;
align-items: center;
}
#section_146542848 {
  padding-top: 0px;
padding-bottom: 0px;
}
#wrapper, #main {
  background-color: #fff;
position: relative;
}
body {
  line-height: 1.6;
}
body {
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
body {
  font-weight: 0;
}

html {
  box-sizing: border-box;
background-attachment: fixed;
}
html {
  overflow-x: hidden;
}
.absolute-footer, html {
  background-color: #5b5b5b;
}
html {
  overflow-x: hidden;
}
.absolute-footer, html {
  background-color: white;
}
:root {
  --primary-color: #c30005: ;
}
.col, .gallery-item, .columns {
  position: relative;
margin: 0;
padding: 0 15px 30px;
width: 100%;
}
.small-12 {
  max-width: 100%;
-ms-flex-preferred-size: 100%;
flex-basis: 100%;
}
@media screen and (min-width:550px){
    .medium-6 {
        max-width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      }
}

@media screen and (min-width:850px){
    .large-6 {
        max-width: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      }
      .col .col .col-inner {
        margin-right: auto;
      margin-left: 0px;
      }
      :first-child.col .col-inner {
        margin-left: auto;
      margin-right: 0px;
      }
}

[data-animate], .slider [data-animate] {
  will-change: filter, transform, opacity;
animation-fill-mode: forwards;
opacity: 0 !important;
transition: filter 1.3s, transform 1.6s, opacity 0.7s ease-in;
}
[data-animate='fadeInLeft'], .slider [data-animate='fadeInLeft'] {
  transform: translate3d(-70px, 0px, 0px);
}
[data-animate='fadeInRight'], .slider [data-animate='fadeInRight'] {
  transform: translate3d(70px, 0px, 0px);
}
[data-animated='true'], .slider .is-selected [data-animated='true'], .row-slider.slider [data-animated='true'] {
  animation-delay: 0.1s;
transform: translate3d(0px, 0px, 0px) scale(1);
opacity: 1 !important;
}
.nav-anim > li, .col + .col [data-animate], [data-animate-delay='200'], [data-animate] + [data-animate] {
  transition-delay: 0.2s;
}
.col-inner {
  position: relative;
margin-left: auto;
margin-right: auto;
width: 100%;
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
-ms-flex: 1 0 auto;
flex: 1 0 auto;
}


.wpcf7 {
  color: #333;
position: relative;
}
div.wpcf7 {
  margin: 0;
padding: 0;
}
div.wpcf7 .screen-reader-response {
  position: absolute;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
width: 1px;
margin: 0;
padding: 0;
border: 0;
}
form {
  margin-bottom: 0px;
}
pre, blockquote, form, figure, p, dl, ul, ol {
  margin-bottom: 1.3em;
}
.wpcf7-display-none {
  display: none;
}
div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
padding: 0.2em 1em;
border: 2px solid #ff0000;
}
.wpcf7 .wpcf7-response-output {
  margin: 5px 0 0 0;
border-radius: 10px;
}
.form-ct .form-row {
  padding: 5px;
float: left;
width: 100%;
margin-bottom: 0px;
}
.form-ct .form-row.w50 {
  width: 50%;
}
.form-ct .center-txt {
  text-align: center;
}
a, button, input {
-ms-touch-action: manipulation;
    touch-action: manipulation;
}
textarea {
  padding-top: 0.7em;
min-height: 120px;
}
a {
  color: #334862;
text-decoration: none;
}
.button, button, input[type='submit'], input[type='reset'], input[type='button'] {
  position: relative;
display: inline-block;
background-color: transparent;
text-transform: uppercase;
font-size: 0.97em;
letter-spacing: 0.03em;
-ms-touch-action: none;
touch-action: none;
cursor: pointer;
font-weight: bolder;
text-align: center;
color: currentColor;
text-decoration: none;
border: 1px solid transparent;
vertical-align: middle;
border-radius: 0;
margin-top: 0px;
margin-right: 1em;
text-shadow: none;
line-height: 2.4em;
min-height: 2.5em;
padding: 0 1.2em;
max-width: 100%;
transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
text-rendering: optimizeLegibility;
box-sizing: border-box;
}
.button, input[type='submit'], input[type='submit'].button, input[type='reset'].button, input[type='button'].button {
  color: #fff;
background-color: #446084;
background-color: var(--primary-color);
border-color: rgba(0, 0, 0, 0.05);
}
.is-outline {
  color: silver;
}
.button, button, input, textarea, select, fieldset {
  margin-bottom: 1em;
}
button, [type='button'], [type='reset'], [type='submit'] {
  cursor: pointer;
}
button, html [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}
input[type='submit'], input[type='submit'].button, input[type='submit'], .primary {
  background-color: #446084;
}
input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select-resize-ghost, .select2-container .select2-choice, .select2-container .select2-selection {
  box-sizing: border-box;
border: 1px solid #ddd;
padding: 0 .75em;
height: 2.5em;
font-size: 0.97em;
border-radius: 0;
max-width: 100%;
width: 100%;
vertical-align: middle;
background-color: #fff;
color: #333;
box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
transition: color .3s, border .3s, background .3s, opacity .3s;
}
input[type='email'], input[type='search'], input[type='number'], input[type='url'], input[type='tel'], input[type='text'], textarea {
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.form-ct input, .form-ct textarea {
  margin-bottom: 0px;
box-shadow: inset 0px 1px 2px rgba(0,0,0,0);
}
.form-row input[type='submit'] {
  margin: 0;
}
.form-ct .center-txt input {
  min-width: 50%;
}
.scroll-to-bullets a, .featured-title, .label-new.menu-item > a::after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type='submit'], :not(.checkout):not(.checkout-button).button.wc-forward, .button.submit-button, :not(.is-outline).button.primary, .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a::before, .nav-line-grow > li > a::before, .nav-line > li > a::before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, :not(.is-outline).button.primary, input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
  background-color: #c30005;
}
.wpcf7 .ajax-loader {
  display: none !important;
}
.wpcf7 .ajax-loader {
  position: absolute;
right: 0px;
background-color: #FFF;
border-radius: 99px;
}
div.wpcf7 .ajax-loader {
  visibility: hidden;
display: inline-block;
width: 16px;
background-color: white;
height: 16px;
border: none;
padding: 0;
margin: 0 0 0 4px;
vertical-align: middle;
}
.wpcf7-form-control-wrap {
  position: relative;
}
.wpcf7 .wpcf7-form-control-wrap {
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  color: #555;
width: 100%;
margin-top: 0px;
margin-bottom: 0.5em;
text-rendering: optimizeSpeed;
}
.h3, h3 {
  font-size: 1.25em;
}
h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
  font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6, .heading-font {
  color: #1c1c1c;
}
.sec_lien_he h3 {
  color: #c30005;
}
.icon-box-left, .icon-box-right {
display: flex;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
width: 100%;
}
.text-left {
  text-align: left;
}
.social-icons {
  display: inline-block;
vertical-align: middle;
font-size: 0.85em;
color: #999;
}
.circle {
  border-radius: 999px !important;
object-fit: cover;
}
.sec_lien_he a {
  color: #353535;
}
.button.is-outline {
  line-height: 2.19em;
}
.button.is-outline, input[type='submit'].is-outline, input[type='reset'].is-outline, input[type='button'].is-outline {
  border: 2px solid currentColor;
background-color: transparent;
}
.button.icon {
  margin-left: 0.12em;
margin-right: 0.12em;
min-width: 2.5em;
padding-left: 0.6em;
padding-right: 0.6em;
display: inline-block;
}
.button.tooltip {
  opacity: 1;
}
.sec_lien_he .social-icons a {
  margin-right: 10px;
}
.button.icon.circle {
  padding-left: 0px;
padding-right: 0px;
}
.links > li > a::before, i[class^='icon-'], i[class*=' icon-'] {
  font-family: "fl-icons" !important;
margin: 0;
padding: 0;
display: inline-block;
font-style: normal !important;
font-weight: normal !important;
font-variant: normal !important;
text-transform: none !important;
position: relative;
line-height: 1.2;
}
button i, .button i {
  vertical-align: middle;
top: -1.5px;
}
.icon-feed::before {
  content: "\e008";
}
.icon-pinterest::before {
  content: "\e010";
}
.icon-twitter::before {
  content: "\e001";
}
.icon-instagram::before {
  content: "\e00e";
}
.icon-facebook::before {
  content: "\e002";
}
.social-icons i {
  min-width: 1em;
}
.button.icon i {
  font-size: 1.2em;
}
.button.icon.circle > i {
  margin: 0 8px;
}
.button.icon.circle > i:only-child {
  margin: 0;
}
.icon-box .icon-box-img {
  margin-bottom: 1em;
max-width: 100%;
position: relative;
}
.icon-box-left .icon-box-img, .icon-box-right .icon-box-img {
 flex: 0 0 auto;
flex: 0 0 auto;
margin-bottom: 0px;
max-width: 200px;
}
.icon-box-left .icon-box-text, .icon-box-right .icon-box-text {
flex: 1 1 0px;
flex: 1 1 0px;
}
.icon-box-left .icon-box-img + .icon-box-text {
  padding-left: 1em;
}
p {
  margin-top: 0px;
}
.last-reset *:last-child {
  margin-bottom: 0px;
}
svg:not(:root) {
  overflow: hidden;
}
.icon-box-img svg, .icon-box-img img {
  padding-top: 0.2rem;
width: 100%;
}
.icon-box-img svg {
  width: 100%;
height: 100%;
transition: all .3s;
fill: currentColor;
}
